In [102]:
#Importing Numpy and Pandas
import numpy as np
import pandas as pd

In [104]:
# This code reads the contents of the 'New.csv' file and loads it into a pandas DataFrame object called 'data'.
data=pd.read_csv('New.csv')

C:\Users\abhis\AppData\Local\Temp\ipykernel_15828\4090425476.py:2: DtypeWarning: Columns (39,40,72,78,79,85,101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('New.csv')

,1,2,3,4,5,6,7,8,9,10,...,99,100,101,102,103,104,105,106,107,108
0,NaN,100007365142,12000,R,Jpmorgan Chase Bank Na,NaN,NaN,8.000,8.000,75000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
1,NaN,100007365142,22000,R,Jpmorgan Chase Bank Na,NaN,NaN,8.000,8.000,75000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,NaN,100007365142,32000,R,Jpmorgan Chase Bank Na,NaN,NaN,8.000,8.000,75000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,NaN,100007365142,42000,R,Jpmorgan Chase Bank Na,NaN,NaN,8.000,8.000,75000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,NaN,100007365142,52000,R,Jpmorgan Chase Bank Na,NaN,NaN,8.000,8.000,75000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,NaN,105675700,112021,R,Movement Mortgage LLC,Movement Mortgage LLC,NaN,3.062,3.062,510000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
1283391,NaN,105675700,122021,R,Movement Mortgage LLC,Movement Mortgage LLC,NaN,3.062,3.062,510000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
1283392,NaN,105675700,12022,R,Movement Mortgage LLC,Movement Mortgage LLC,NaN,3.062,3.062,510000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
1283393,NaN,105675700,22022,R,Movement Mortgage LLC,Movement Mortgage LLC,NaN,3.062,3.062,510000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
1283394,NaN,105675700,32022,R,Movement Mortgage LLC,NaN,NaN,3.062,NaN,510000.0,...,NaN,NaN,NaN,7,N,NaN,N,7,NaN,NaN

In [110]:
# The code `data['44'] = data['44'].fillna('0')` assigns the value '0' to any missing values in the column labeled '44' in the DataFrame 'data'. This is done using the `.fillna()` method, which replaces the missing values with the specified value, in this case, '0'.
data['44']=data['44'].fillna('0')

In [111]:
data['44']

0            0
1            0
2            0
3            0
4            0
          ...
1283390      0
1283391      0
1283392      0
1283393      0
1283394    1.0
Name: 44, Length: 1283395, dtype: object

In [112]:
# The code `data['44'] = data['44'].replace(1.0, 1)` and `data['44'] = data['44'].replace(1, 1)` are used to replace the value 1.0 and 1, respectively, in the column labeled '44' of the DataFrame 'data'. The `.replace()` method is used to substitute specific values with new values. In this case, both lines of code are replacing any occurrences of 1.0 or 1 with the value 1 in the '44' column.
data['44']=data['44'].replace(1.0,1)
data['44']=data['44'].replace(1,1)

In [147]:
data2=data

,2,3,4,8,9,10,12,13,14,15,...,42,44,79,86,87,103,Unemployment_rate,Divorce_rate,Inflation_rate,EMI
0,100007365142,12000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,2.7,550.323430
1,100007365142,22000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.2,550.323430
2,100007365142,32000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.8,550.323430
3,100007365142,42000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.1,550.323430
4,100007365142,52000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.2,550.323430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,R,3.062,3.062,510000.0,500744.85,360,112020,12021,...,N,0,7,A,N,N,5.3,2.5,6.8,2167.271522
1283391,105675700,122021,R,3.062,3.062,510000.0,499853.61,360,112020,12021,...,N,0,7,A,N,N,5.3,2.5,7.0,2167.271522
1283392,105675700,12022,R,3.062,3.062,510000.0,498960.10,360,112020,12021,...,N,0,7,A,N,N,3.6,2.3,7.5,2167.271522
1283393,105675700,22022,R,3.062,3.062,510000.0,498064.31,360,112020,12021,...,N,0,7,A,N,N,3.6,2.3,7.9,2167.271522
1283394,105675700,32022,R,3.062,0.000,510000.0,0.00,360,112020,12021,...,NaN,1,7,A,N,N,3.6,2.3,8.5,2167.271522

In [182]:
data2['26'].value_counts()

0    1087689
1     195041
2        665
Name: 26, dtype: int64

In [157]:
data2

,2,3,4,8,9,10,12,13,14,15,...,79,86,87,103,Unemployment_rate,Divorce_rate,Inflation_rate,EMI,UPB_diff,Interest_Component
0,100007365142,12000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,7,NaN,N,N,4.0,4.0,2.7,550.323430,0.00,500.00
1,100007365142,22000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,7,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00
2,100007365142,32000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,7,NaN,N,N,4.0,4.0,3.8,550.323430,0.00,500.00
3,100007365142,42000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,7,NaN,N,N,4.0,4.0,3.1,550.323430,0.00,500.00
4,100007365142,52000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,7,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,R,3.062,3.062,510000.0,500744.85,360,112020,12021,...,7,A,N,N,5.3,2.5,6.8,2167.271522,888.97,1301.35
1283391,105675700,122021,R,3.062,3.062,510000.0,499853.61,360,112020,12021,...,7,A,N,N,5.3,2.5,7.0,2167.271522,891.24,1301.35
1283392,105675700,12022,R,3.062,3.062,510000.0,498960.10,360,112020,12021,...,7,A,N,N,3.6,2.3,7.5,2167.271522,893.51,1301.35
1283393,105675700,22022,R,3.062,3.062,510000.0,498064.31,360,112020,12021,...,7,A,N,N,3.6,2.3,7.9,2167.271522,895.79,1301.35
1283394,105675700,32022,R,3.062,0.000,510000.0,0.00,360,112020,12021,...,7,A,N,N,3.6,2.3,8.5,2167.271522,498064.31,1301.35

In [100]:
(data.dtypes==object)==True

2                     False
3                     False
4                      True
8                     False
9                     False
10                    False
12                    False
13                    False
14                    False
15                    False
16                    False
17                    False
18                    False
19                    False
20                    False
21                    False
22                    False
23                    False
24                    False
25                    False
26                     True
27                     True
28                     True
29                    False
30                     True
32                    False
33                    False
35                     True
36                     True
37                     True
40                     True
42                     True
44                     True
79                     True
86                     True
87                     True
103                    True
Unemployment_rate     False
Divorce_rate          False
Inflation_rate        False
EMI                   False
UPB_diff              False
Interest_Component    False
dtype: bool

In [145]:
data['4'].value_counts()

R    683314
C    426196
B    173885
Name: 4, dtype: int64

In [146]:
data

,2,3,4,8,9,10,12,13,14,15,...,42,44,79,86,87,103,Unemployment_rate,Divorce_rate,Inflation_rate,EMI
0,100007365142,12000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,2.7,550.323430
1,100007365142,22000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.2,550.323430
2,100007365142,32000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.8,550.323430
3,100007365142,42000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.1,550.323430
4,100007365142,52000,R,8.000,8.000,75000.0,75000.00,360,121999,22000,...,N,0,7,NaN,N,N,4.0,4.0,3.2,550.323430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,R,3.062,3.062,510000.0,500744.85,360,112020,12021,...,N,0,7,A,N,N,5.3,2.5,6.8,2167.271522
1283391,105675700,122021,R,3.062,3.062,510000.0,499853.61,360,112020,12021,...,N,0,7,A,N,N,5.3,2.5,7.0,2167.271522
1283392,105675700,12022,R,3.062,3.062,510000.0,498960.10,360,112020,12021,...,N,0,7,A,N,N,3.6,2.3,7.5,2167.271522
1283393,105675700,22022,R,3.062,3.062,510000.0,498064.31,360,112020,12021,...,N,0,7,A,N,N,3.6,2.3,7.9,2167.271522
1283394,105675700,32022,R,3.062,0.000,510000.0,0.00,360,112020,12021,...,NaN,1,7,A,N,N,3.6,2.3,8.5,2167.271522

In [169]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [170]:
data.dtypes

2                       int64
3                       int64
4                      object
8                     float64
9                     float64
10                    float64
12                    float64
13                      int64
14                      int64
15                      int64
16                    float64
17                    float64
18                    float64
19                    float64
20                      int64
21                    float64
22                    float64
23                    float64
24                    float64
25                    float64
26                     object
27                     object
28                     object
29                      int64
30                     object
32                      int64
33                      int64
35                     object
36                     object
37                     object
40                     object
42                     object
44                     object
79                     object
86                     object
87                     object
103                    object
Unemployment_rate     float64
Divorce_rate          float64
Inflation_rate        float64
EMI                   float64
UPB_diff              float64
Interest_Component    float64
PREPAYMENT_AMT        float64
dtype: object

In [171]:
data['4'].value_counts()

R    683314
C    426196
B    173885
Name: 4, dtype: int64

In [172]:
data['4'].value_counts()

R    683314
C    426196
B    173885
Name: 4, dtype: int64

In [173]:
data['4']=lb.fit_transform(data['4'])

In [174]:
data['4'].value_counts()

2    683314
1    426196
0    173885
Name: 4, dtype: int64

In [175]:
# Column - 4
# R - 2
# C - 1
# B - 0

In [181]:
data['26'].value_counts()

0    1087689
1     195041
2        665
Name: 26, dtype: int64

In [178]:
data['26']=lb.fit_transform(data['26'])

In [180]:
data['26'].isnull().sum()

0

In [179]:
data['26'].value_counts()

0    1087689
1     195041
2        665
Name: 26, dtype: int64

In [ ]:
# Column - 26

# 0 - NO
# 1 - YES
# 2 - Unknown

In [183]:
data['27'].value_counts()

P    529690
C    385715
R    367795
U       195
Name: 27, dtype: int64

In [184]:
data['27']=lb.fit_transform(data['27'])

In [185]:
data['27'].value_counts()

1    529690
0    385715
2    367795
3       195
Name: 27, dtype: int64

In [186]:
# Coulmn - 27
# P - 1
# C - 0
# R - 2
# U - 3

In [187]:
data['28'].value_counts()

SF    929782
PU    226711
CO    105821
MH     12243
CP      8838
Name: 28, dtype: int64

In [188]:
data['28']=lb.fit_transform(data['28'])

In [189]:
data['28'].value_counts()

4    929782
3    226711
0    105821
2     12243
1      8838
Name: 28, dtype: int64

In [190]:
# Column - 28
# SF - 4
# PU - 3
# CO - 0
# MH - 2
# CP - 1

In [191]:
data['30'].value_counts()

P    1124998
I      98485
S      59912
Name: 30, dtype: int64

In [192]:
data['30']=lb.fit_transform(data['30'])

In [193]:
data['30'].value_counts()

1    1124998
0      98485
2      59912
Name: 30, dtype: int64

In [194]:
# Column - 30
# P - 1
# I - 0
# S - 2

In [251]:
col=data.columns

In [252]:
for i in col:
    print(i)
    print(data[i].dtype)

2
int64
3
int64
4
int32
8
float64
9
float64
10
float64
12
float64
13
int64
14
int64
15
int64
16
float64
17
float64
18
float64
19
float64
20
int64
21
float64
22
float64
23
float64
24
float64
25
float64
26
int32
27
int32
28
int32
29
int64
30
int32
32
int64
33
int64
35
object
36
object
37
int32
40
object
42
int32
44
int32
79
object
86
object
87
object
103
object
Unemployment_rate
float64
Divorce_rate
float64
Inflation_rate
float64
EMI
float64
UPB_diff
float64
Interest_Component
float64
PREPAYMENT_AMT
float64

In [201]:
data['35'].value_counts()

FRM    1283395
Name: 35, dtype: int64

In [202]:
#Remove this column 35

In [203]:
data['36'].value_counts()

N    1283395
Name: 36, dtype: int64

In [204]:
#Remove this column 36

In [205]:
data['37'].value_counts()

N    1103952
Name: 37, dtype: int64

In [206]:
data['37']=lb.fit_transform(data['37'])

In [207]:
data['37'].value_counts()

0    1103952
1     179443
Name: 37, dtype: int64

In [208]:
# Column - 37
# N - 0
# Y -1

In [209]:
data['40'].value_counts()

00    1132286
0       93586
01      16832
XX      16258
02       5074
       ...
80          3
82          2
27          2
28          2
29          2
Name: 40, Length: 115, dtype: int64

In [213]:
df40=data['40'].unique()

In [214]:
len(df40)

115

In [215]:
df40

array(['00', 'XX', '01', '02', '03', '04', '05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53',
       '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64',
       '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75',
       '76', '77', '78', '79', '80', '81', '82', '99', 0, 1, 2, 3, 4, 5,
       6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29], dtype=object)

In [217]:
li3=[]

for i in df40:
    if i=='XX':

SyntaxError: incomplete input (3067335021.py, line 3)

In [218]:
data['42'].value_counts()

N    1238108
Y      23611
Name: 42, dtype: int64

In [220]:
data['42']=lb.fit_transform(data['42'])

In [221]:
data['42'].value_counts()

0    1238108
1      23611
2      21676
Name: 42, dtype: int64

In [222]:
# Column 42
# N - 0
# Y - 1
# U - 3

In [223]:
data['44'].value_counts()

0       1261715
1         21161
9.0         260
6.0          72
16.0         69
3.0          69
2.0          26
15.0         23
Name: 44, dtype: int64

In [227]:
li3=[]
li3=data['44'].unique()

In [230]:
li3

array(['0', 1, 6.0, 9.0, 16.0, 3.0, 2.0, 15.0], dtype=object)

In [229]:
for i in li3:
    print(i)
    print(type(i))

0
<class 'str'>
1
<class 'int'>
6.0
<class 'float'>
9.0
<class 'float'>
16.0
<class 'float'>
3.0
<class 'float'>
2.0
<class 'float'>
15.0
<class 'float'>

In [249]:
# saving the dataframe
data.to_csv('ds1.csv', header=True, index=False)

In [231]:
data

,2,3,4,8,9,10,12,13,14,15,...,86,87,103,Unemployment_rate,Divorce_rate,Inflation_rate,EMI,UPB_diff,Interest_Component,PREPAYMENT_AMT
0,100007365142,12000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,2.7,550.323430,0.00,500.00,0.000000
1,100007365142,22000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
2,100007365142,32000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.8,550.323430,0.00,500.00,0.000000
3,100007365142,42000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.1,550.323430,0.00,500.00,0.000000
4,100007365142,52000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,2,3.062,3.062,510000.0,500744.85,360,112020,12021,...,A,N,N,5.3,2.5,6.8,2167.271522,888.97,1301.35,23.048478
1283391,105675700,122021,2,3.062,3.062,510000.0,499853.61,360,112020,12021,...,A,N,N,5.3,2.5,7.0,2167.271522,891.24,1301.35,25.318478
1283392,105675700,12022,2,3.062,3.062,510000.0,498960.10,360,112020,12021,...,A,N,N,3.6,2.3,7.5,2167.271522,893.51,1301.35,27.588478
1283393,105675700,22022,2,3.062,3.062,510000.0,498064.31,360,112020,12021,...,A,N,N,3.6,2.3,7.9,2167.271522,895.79,1301.35,29.868478
1283394,105675700,32022,2,3.062,0.000,510000.0,0.00,360,112020,12021,...,A,N,N,3.6,2.3,8.5,2167.271522,498064.31,1301.35,497198.388478

In [254]:
data2

,2,3,4,8,9,10,12,13,14,15,...,86,87,103,Unemployment_rate,Divorce_rate,Inflation_rate,EMI,UPB_diff,Interest_Component,PREPAYMENT_AMT
0,100007365142,12000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,2.7,550.323430,0.00,500.00,0.000000
1,100007365142,22000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
2,100007365142,32000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.8,550.323430,0.00,500.00,0.000000
3,100007365142,42000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.1,550.323430,0.00,500.00,0.000000
4,100007365142,52000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,2,3.062,3.062,510000.0,500744.85,360,112020,12021,...,A,N,N,5.3,2.5,6.8,2167.271522,888.97,1301.35,23.048478
1283391,105675700,122021,2,3.062,3.062,510000.0,499853.61,360,112020,12021,...,A,N,N,5.3,2.5,7.0,2167.271522,891.24,1301.35,25.318478
1283392,105675700,12022,2,3.062,3.062,510000.0,498960.10,360,112020,12021,...,A,N,N,3.6,2.3,7.5,2167.271522,893.51,1301.35,27.588478
1283393,105675700,22022,2,3.062,3.062,510000.0,498064.31,360,112020,12021,...,A,N,N,3.6,2.3,7.9,2167.271522,895.79,1301.35,29.868478
1283394,105675700,32022,2,3.062,0.000,510000.0,0.00,360,112020,12021,...,A,N,N,3.6,2.3,8.5,2167.271522,498064.31,1301.35,497198.388478

In [253]:
data2=data

In [236]:
for i in range(len(data['2'])):
    if data.iloc[i,32]=='0':
        data.iloc[i,32]=0.0
    elif data.iloc[i,32]==1:
        data.iloc[i,32]=1.1

In [237]:
data['44']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
1283390    0.0
1283391    0.0
1283392    0.0
1283393    0.0
1283394    1.1
Name: 44, Length: 1283395, dtype: object

In [239]:
data['44'].value_counts()

0.0     1261715
1.1       21161
9.0         260
6.0          72
16.0         69
3.0          69
2.0          26
15.0         23
Name: 44, dtype: int64

In [240]:
data['44']=lb.fit_transform(data['44'])

In [241]:
data['44'].value_counts()

0    1261715
1      21161
5        260
4         72
7         69
3         69
2         26
6         23
Name: 44, dtype: int64

In [242]:
# Column 44
# 0.0 - 0
# 1.1 - 1
# 9.0 - 5
# 6.0 - 4
# 16.0 - 7
# 3.0 - 3
# 2.0 - 26
# 15.0 - 23

In [243]:
data['79'].value_counts()

7    950270
7    299839
H     25495
F      7789
Name: 79, dtype: int64

In [255]:
li4=[]
li4=data['79'].unique()

In [256]:
li4

array(['7', 7, nan, 'F', 'H'], dtype=object)

In [257]:
for i in range(len(data['2'])):
    if data.iloc[i,33]==7:
        data.iloc[i,33]='7'

KeyboardInterrupt:

In [258]:
data['79'].value_counts()

7    754520
7    495589
H     25495
F      7789
Name: 79, dtype: int64

In [259]:
data[data['79']=='7']

,2,3,4,8,9,10,12,13,14,15,...,86,87,103,Unemployment_rate,Divorce_rate,Inflation_rate,EMI,UPB_diff,Interest_Component,PREPAYMENT_AMT
0,100007365142,12000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,2.7,550.323430,0.00,500.00,0.000000
1,100007365142,22000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
2,100007365142,32000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.8,550.323430,0.00,500.00,0.000000
3,100007365142,42000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.1,550.323430,0.00,500.00,0.000000
4,100007365142,52000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,NaN,N,N,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,2,3.062,3.062,510000.0,500744.85,360,112020,12021,...,A,N,N,5.3,2.5,6.8,2167.271522,888.97,1301.35,23.048478
1283391,105675700,122021,2,3.062,3.062,510000.0,499853.61,360,112020,12021,...,A,N,N,5.3,2.5,7.0,2167.271522,891.24,1301.35,25.318478
1283392,105675700,12022,2,3.062,3.062,510000.0,498960.10,360,112020,12021,...,A,N,N,3.6,2.3,7.5,2167.271522,893.51,1301.35,27.588478
1283393,105675700,22022,2,3.062,3.062,510000.0,498064.31,360,112020,12021,...,A,N,N,3.6,2.3,7.9,2167.271522,895.79,1301.35,29.868478
1283394,105675700,32022,2,3.062,0.000,510000.0,0.00,360,112020,12021,...,A,N,N,3.6,2.3,8.5,2167.271522,498064.31,1301.35,497198.388478

In [265]:
data['79']=data['79'].replace(7,'7')

In [266]:
data['79'].value_counts()

7    1250109
H      25495
F       7789
Name: 79, dtype: int64

In [267]:
data['79']=lb.fit_transform(data['79'])

In [268]:
data['79'].value_counts()

0    1250109
2      25495
1       7789
3          2
Name: 79, dtype: int64

In [269]:
# Column 79
# 7 - 0
# H - 2
# F - 1
# Null - 3

In [270]:
data['86'].value_counts()

A    230227
W     29373
P       466
N         1
Name: 86, dtype: int64

In [271]:
data['86']=lb.fit_transform(data['86'])

In [272]:
data['86'].value_counts()

4    1023328
0     230227
3      29373
2        466
1          1
Name: 86, dtype: int64

In [273]:
# Column 86
# A - 0
# W - 3
# P - 2
# N - 1
# NULL - 4

In [274]:
data['87'].value_counts()

N    1270362
Y      13031
Name: 87, dtype: int64

In [275]:
data['87']=lb.fit_transform(data['87'])

In [276]:
data['87'].value_counts()

0    1270362
1      13031
2          2
Name: 87, dtype: int64

In [277]:
# Column 87
# N - 0
# Y - 1
# Null - 2

In [278]:
data['103'].value_counts()

N    1283393
Name: 103, dtype: int64

In [280]:
data.shape

(1283395, 44)

In [302]:
# saving the dataframe
data.to_csv('ds2.csv', header=True, index=False)

In [282]:
data=data.drop(['103'],axis=1)

In [285]:
data['36'].value_counts()

N    1283395
Name: 36, dtype: int64

In [287]:
data=data.drop(['35','36'],axis=1)

In [291]:
data['40'].value_counts()

00    1132286
0       93586
01      16832
XX      16258
02       5074
       ...
80          3
82          2
27          2
28          2
29          2
Name: 40, Length: 115, dtype: int64

In [292]:
data['40'].unique()

array(['00', 'XX', '01', '02', '03', '04', '05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53',
       '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64',
       '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75',
       '76', '77', '78', '79', '80', '81', '82', '99', 0, 1, 2, 3, 4, 5,
       6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29], dtype=object)

In [293]:
data['86'].value_counts()

4    1023328
0     230227
3      29373
2        466
1          1
Name: 86, dtype: int64

In [294]:
data3=data

In [295]:
number_mapping = {
    "00": 0,
    "01": 1,
    "02": 2,
    "03": 3,
    "04": 4,
    "05": 5,
    "06": 6,
    "07": 7,
    "08": 8,
    "09": 9,
    "10": 10,
    "11": 11,
    "12": 12,
    "13": 13,
    "14": 14,
    "15": 15,
    "16": 16,
    "17": 17,
    "18": 18,
    "19": 19,
    "20": 20,
    "21": 21,
    "22": 22,
    "23": 23,
    "24": 24,
    "25": 25,
    "26": 26,
    "27": 27,
    "28": 28,
    "29": 29,
    "30": 30,
    "31": 31,
    "32": 32,
    "33": 33,
    "34": 34,
    "35": 35,
    "36": 36,
    "37": 37,
    "38": 38,
    "39": 39,
    "40": 40,
    "41": 41,
    "42": 42,
    "43": 43,
    "44": 44,
    "45": 45,
    "46": 46,
    "47": 47,
    "48": 48,
    "49": 49,
    "50": 50,
    "51": 51,
    "52": 52,
    "53": 53,
    "54": 54,
    "55": 55,
    "56": 56,
    "57": 57,
    "58": 58,
    "59": 59,
    "60": 60,
    "61": 61,
    "62": 62,
    "63": 63,
    "64": 64,
    "65": 65,
    "66": 66,
    "67": 67,
    "68": 68,
    "69": 69,
    "70": 70,
    "71": 71,
    "72": 72,
    "73": 73,
    "74": 74,
    "75": 75,
    "76": 76,
    "77": 77,
    "78": 78,
    "79": 79,
    "80": 80,
    "81": 81,
    "82": 82,
    "83": 83,
    "84": 84,
    "85": 85,
    "86": 86,
    "87": 87,
    "88": 88,
    "89": 89,
    "90": 90,
    "91": 91,
    "92": 92,
    "93": 93,
    "94": 94,
    "95": 95,
    "96": 96,
    "97": 97,
    "98": 98,
    "99": 99,
    "XX": 100
}

In [296]:
data2=data2.replace({'40': number_mapping})

In [298]:
data2['40'].value_counts()

0      1225872
1        17462
100      16258
2         5351
3         2728
        ...
77           4
75           4
80           3
81           3
82           2
Name: 40, Length: 85, dtype: int64

In [299]:
data=data.replace({'40': number_mapping})

In [301]:
data

,2,3,4,8,9,10,12,13,14,15,...,79,86,87,Unemployment_rate,Divorce_rate,Inflation_rate,EMI,UPB_diff,Interest_Component,PREPAYMENT_AMT
0,100007365142,12000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,0,4,0,4.0,4.0,2.7,550.323430,0.00,500.00,0.000000
1,100007365142,22000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,0,4,0,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
2,100007365142,32000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,0,4,0,4.0,4.0,3.8,550.323430,0.00,500.00,0.000000
3,100007365142,42000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,0,4,0,4.0,4.0,3.1,550.323430,0.00,500.00,0.000000
4,100007365142,52000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,0,4,0,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,2,3.062,3.062,510000.0,500744.85,360,112020,12021,...,0,0,0,5.3,2.5,6.8,2167.271522,888.97,1301.35,23.048478
1283391,105675700,122021,2,3.062,3.062,510000.0,499853.61,360,112020,12021,...,0,0,0,5.3,2.5,7.0,2167.271522,891.24,1301.35,25.318478
1283392,105675700,12022,2,3.062,3.062,510000.0,498960.10,360,112020,12021,...,0,0,0,3.6,2.3,7.5,2167.271522,893.51,1301.35,27.588478
1283393,105675700,22022,2,3.062,3.062,510000.0,498064.31,360,112020,12021,...,0,0,0,3.6,2.3,7.9,2167.271522,895.79,1301.35,29.868478
1283394,105675700,32022,2,3.062,0.000,510000.0,0.00,360,112020,12021,...,0,0,0,3.6,2.3,8.5,2167.271522,498064.31,1301.35,497198.388478

In [303]:
previous_UPB=[]

prev=75000.0
id=100007365142

for i in range(len(data['2'])):
    if id==data.iloc[i,0]:
        previous_UPB.append(prev)
        prev=data.iloc[i,6]
    else:
        prev=data.iloc[i,6]
        previous_UPB.append(prev)
        id=data.iloc[i,0]

In [304]:
data3=data

In [305]:
data3['Previous_UPB']=previous_UPB

In [307]:
data3.head(50)

,2,3,4,8,9,10,12,13,14,15,...,86,87,Unemployment_rate,Divorce_rate,Inflation_rate,EMI,UPB_diff,Interest_Component,PREPAYMENT_AMT,Previous_UPB
0,100007365142,12000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,2.7,550.323430,0.00,500.0000,0.000000,75000.00
1,100007365142,22000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.2,550.323430,0.00,500.0000,0.000000,75000.00
2,100007365142,32000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.8,550.323430,0.00,500.0000,0.000000,75000.00
3,100007365142,42000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.1,550.323430,0.00,500.0000,0.000000,75000.00
4,100007365142,52000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.2,550.323430,0.00,500.0000,0.000000,75000.00
5,100007365142,62000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.7,550.323430,0.00,500.0000,0.000000,75000.00
6,100007365142,72000,2,8.000,8.000,75000.0,74693.00,360,121999,22000,...,4,0,4.0,4.0,3.7,550.323430,307.00,500.0000,256.676570,75000.00
7,100007365142,82000,2,8.000,8.000,75000.0,74587.91,360,121999,22000,...,4,0,4.0,4.0,3.4,550.323430,105.09,500.0000,54.766570,74693.00
8,100007365142,92000,2,8.000,8.000,75000.0,74534.84,360,121999,22000,...,4,0,4.0,4.0,3.5,550.323430,53.07,500.0000,2.746570,74587.91
9,100007365142,102000,2,8.000,8.000,75000.0,74481.42,360,121999,22000,...,4,0,4.0,4.0,3.4,550.323430,53.42,500.0000,3.096570,74534.84
10,100007365142,112000,2,8.000,8.000,75000.0,74427.64,360,121999,22000,...,4,0,4.0,4.0,3.4,550.323430,53.78,500.0000,3.456570,74481.42
11,100007365142,122000,2,8.000,8.000,75000.0,74427.64,360,121999,22000,...,4,0,4.0,4.0,3.4,550.323430,0.00,500.0000,0.000000,74427.64
12,100007365142,12001,2,8.000,8.000,75000.0,74319.00,360,121999,22000,...,4,0,4.7,4.0,3.7,550.323430,108.64,500.0000,58.316570,74427.64
13,100007365142,22001,2,8.000,8.000,75000.0,74264.14,360,121999,22000,...,4,0,4.7,4.0,3.5,550.323430,54.86,500.0000,4.536570,74319.00
14,100007365142,32001,2,8.000,8.000,75000.0,74208.91,360,121999,22000,...,4,0,4.7,4.0,2.9,550.323430,55.23,500.0000,4.906570,74264.14
15,100007365142,42001,2,8.000,8.000,75000.0,74153.32,360,121999,22000,...,4,0,4.7,4.0,3.3,550.323430,55.59,500.0000,5.266570,74208.91
16,100007365142,52001,2,8.000,8.000,75000.0,74153.32,360,121999,22000,...,4,0,4.7,4.0,3.6,550.323430,0.00,500.0000,0.000000,74153.32
17,100007365142,62001,2,8.000,8.000,75000.0,74097.36,360,121999,22000,...,4,0,4.7,4.0,3.2,550.323430,55.96,500.0000,5.636570,74153.32
18,100007365142,72001,2,8.000,8.000,75000.0,73984.31,360,121999,22000,...,4,0,4.7,4.0,2.7,550.323430,113.05,500.0000,62.726570,74097.36
19,100007365142,82001,2,8.000,8.000,75000.0,73926.71,360,121999,22000,...,4,0,4.7,4.0,2.7,550.323430,57.60,500.0000,7.276570,73984.31
20,100007365142,92001,2,8.000,8.000,75000.0,73869.23,360,121999,22000,...,4,0,4.7,4.0,2.6,550.323430,57.48,500.0000,7.156570,73926.71
21,100007365142,102001,2,8.000,8.000,75000.0,73811.37,360,121999,22000,...,4,0,4.7,4.0,2.1,550.323430,57.86,500.0000,7.536570,73869.23
22,100007365142,112001,2,8.000,8.000,75000.0,73753.13,360,121999,22000,...,4,0,4.7,4.0,1.9,550.323430,58.24,500.0000,7.916570,73811.37
23,100007365142,122001,2,8.000,8.000,75000.0,73694.50,360,121999,22000,...,4,0,4.7,4.0,1.6,550.323430,58.63,500.0000,8.306570,73753.13
24,100007365142,12002,2,8.000,8.000,75000.0,73635.48,360,121999,22000,...,4,0,5.8,3.9,1.1,550.323430,59.02,500.0000,8.696570,73694.50
25,100007365142,22002,2,8.000,8.000,75000.0,73576.06,360,121999,22000,...,4,0,5.8,3.9,1.1,550.323430,59.42,500.0000,9.096570,73635.48
26,100007365142,32002,2,8.000,8.000,75000.0,73516.25,360,121999,22000,...,4,0,5.8,3.9,1.5,550.323430,59.81,500.0000,9.486570,73576.06
27,100007365142,42002,2,8.000,8.000,75000.0,73456.04,360,121999,22000,...,4,0,5.8,3.9,1.6,550.323430,60.21,500.0000,9.886570,73516.25
28,100007365142,52002,2,8.000,8.000,75000.0,73395.43,360,121999,22000,...,4,0,5.8,3.9,1.2,550.323430,60.61,500.0000,10.286570,73456.04
29,100007365142,62002,2,8.000,8.000,75000.0,73395.43,360,121999,22000,...,4,0,5.8,3.9,1.1,550.323430,0.00,500.0000,0.000000,73395.43
30,100007365142,72002,2,8.000,8.000,75000.0,73334.41,360,121999,22000,...,4,0,5.8,3.9,1.5,550.323430,61.02,500.0000,10.696570,73395.43
31,100007365142,82002,2,8.000,8.000,75000.0,73272.99,360,121999,22000,...,4,0,5.8,3.9,1.8,550.323430,61.42,500.0000,11.096570,73334.41
32,100007365142,92002,2,8.000,8.000,75000.0,73148.91,360,121999,22000,...,4,0,5.8,3.9,1.5,550.323430,124.08,500.0000,73.756570,73272.99
33,100007365142,102002,2,8.000,8.000,75000.0,73086.25,360,121999,22000,...,4,0,5.8,3.9,2.0,550.323430,62.66,500.0000,12.336570,73148.91
34,100007365142,112002,2,8.000,8.000,75000.0,73086.25,360,121999,22000,...,4,0,5.8,3.9,2.2,550.323430,0.00,500.0000,0.000000,73086.25
35,100007365142,122002,2,8.000,8.000,75000.0,72909.67,360,121999,22000,...,4,0,5.8,3.9,2.4,550.323430,176.58,500.0000,126.256570,73086.25
36,100007365142,12003,2,8.000,8.000,75000.0,72795.41,360,121999,22000,...,4,0,6.0,3.8,2.6,550.323430,114.26,500.0000,63.936570,72909.67
37,100007365142,22003,2,8.000,8.000,75000.0,72680.39,360,121999,22000,...,4,0,6.0,3.8,3.0,550.323430,115.02,500.0000,64.696570,72795.41
38,100007365142,32003,2,8.000,8.000,75000.0,72564.61,360,121999,22000,...,4,0,6.0,3.8,3.0,550.323430,115.78,500.0000,65.456570,72680.39
39,100007365142,42003,2,8.000,0.000,75000.0,0.00,360,121999,22000,...,4,0,6.0,3.8,2.2,550.323430,72564.61,500.0000,72514.286570,72564.61
40,100007386460,22000,0,7.875,7.875,55000.0,55000.00,180,12000,32000,...,4,0,4.0,4.0,3.2,521.647425,0.00,360.9375,0.000000,55000.00
41,100007386460,32000,0,7.875,7.875,55000.0,55000.00,180,12000,32000,...,4,0,4.0,4.0,3.8,521.647425,0.00,360.9375,0.000000,55000.00
42,100007386460,42000,0,7.875,7.875,55000.0,55000.00,180,12000,32000,...,4,0,4.0,4.0,3.1,521.647425,0.00,360.9375,0.000000,55000.00
43,100007386460,52000,0,7.875,7.875,55000.0,55000.00,180,12000,32000,...,4,0,4.0,4.0,3.2,521.647425,0.00,360.9375,0.000000,55000.00
44,100007386460,62000,0,7.875,7.875,55000.0,55000.00,180,12000,32000,...,4,0,4.0,4.0,3.7,521.647425,0.00,360.9375,0.000000,55000.00
45,100007386460,72000,0,7.875,7.875,55000.0,55000.00,180,12000,32000,...,4,0,4.0,4.0,3.7,521.647425,0.00,360.9375,0.000000,55000.00
46,100007386460,82000,0,7.875,7.875,55000.0,54204.18,180,12000,32000,...,4,0,4.0,4.0,3.4,521.647425,795.82,360.9375,635.110075,55000.00
47,100007386460,92000,0,7.875,7.875,55000.0,54036.34,180,12000,32000,...,4,0,4.0,4.0,3.5,521.647425,167.84,360.9375,7.130075,54204.18
48,100007386460,102000,0,7.875,7.875,55000.0,53867.40,180,12000,32000,...,4,0,4.0,4.0,3.4,521.647425,168.94,360.9375,8.230075,54036.34
49,100007386460,112000,0,7.875,7.875,55000.0,53697.35,180,12000,32000,...,4,0,4.0,4.0,3.4,521.647425,170.05,360.9375,9.340075,53867.40

In [308]:
data['Previous_UPB']=previous_UPB

In [309]:
data

,2,3,4,8,9,10,12,13,14,15,...,86,87,Unemployment_rate,Divorce_rate,Inflation_rate,EMI,UPB_diff,Interest_Component,PREPAYMENT_AMT,Previous_UPB
0,100007365142,12000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,2.7,550.323430,0.00,500.00,0.000000,75000.00
1,100007365142,22000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000,75000.00
2,100007365142,32000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.8,550.323430,0.00,500.00,0.000000,75000.00
3,100007365142,42000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.1,550.323430,0.00,500.00,0.000000,75000.00
4,100007365142,52000,2,8.000,8.000,75000.0,75000.00,360,121999,22000,...,4,0,4.0,4.0,3.2,550.323430,0.00,500.00,0.000000,75000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283390,105675700,112021,2,3.062,3.062,510000.0,500744.85,360,112020,12021,...,0,0,5.3,2.5,6.8,2167.271522,888.97,1301.35,23.048478,501633.82
1283391,105675700,122021,2,3.062,3.062,510000.0,499853.61,360,112020,12021,...,0,0,5.3,2.5,7.0,2167.271522,891.24,1301.35,25.318478,500744.85
1283392,105675700,12022,2,3.062,3.062,510000.0,498960.10,360,112020,12021,...,0,0,3.6,2.3,7.5,2167.271522,893.51,1301.35,27.588478,499853.61
1283393,105675700,22022,2,3.062,3.062,510000.0,498064.31,360,112020,12021,...,0,0,3.6,2.3,7.9,2167.271522,895.79,1301.35,29.868478,498960.10
1283394,105675700,32022,2,3.062,0.000,510000.0,0.00,360,112020,12021,...,0,0,3.6,2.3,8.5,2167.271522,498064.31,1301.35,497198.388478,498064.31

In [310]:
# saving the dataframe
data.to_csv('ds2.csv', header=True, index=False)